*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FAFAFA;
}

.large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}
.text-center{
    padding: 100px 100px;
}
.w-33 {
    border-radius: 30px;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #F44335;
}
